.ui-view.page {
  p {
    color: white;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: white;
  }

  .main-page-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    width: 100%;
    height: 100%;

    padding: 10vh 2em 2em 2em;
    box-sizing: border-box;

    background-color: var(--color);

    > .header {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;

      > h2 {
        font-size: 2.3em;
        text-align: center;
      }

      > p {
        text-align: center;
        margin-top: 0.45em;
        line-height: 1.5;
      }
    }

    > .content {
      display: flex;
      flex-direction: column;
      justify-content: space-around;

      width: 100%;
      height: 30%;

      .descent-calc-form {
        border: 1px solid white;
        border-radius: 12px;
        padding: 1em 1.5em;
        margin-top: 1em;
      }
    }

    > hr {
      display: block;
      height: 1px;
      border: 0;
      border-top: 1px solid #abb6c77a;
      margin: 1em 0;
      padding: 0;
      width: 100%;
    }
  }
}
